@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

head {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
}

body {
  background-color: #f1d3ad;
  color: #4a413a;
}

h1 {
  font-family: "Fraunces", serif;
  color: #4a413a;
  font-size: 50px;
  background-color: #f1d3ad;
  border: solid #f1d3ad 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

p + p {
  margin-top: 2rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 470;
  font-style: normal;
}

b {
  padding-bottom: 10px;
}

#nav {
  background-color: #f1d3ad;
  font-size: 30px;
  padding: 1em 0;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  color: #4a413a;
  z-index: 1;
}

#nav li {
  display: inline-block;
  padding: 0 2em;
}

#nav a {
  text-decoration: none;
}

#caption {
  font-weight: bold;
}

a {
  color: #4a413a;
  /* text-decoration: none; */
}

a:hover {
  color: #646464;
}

ul {
  padding-left: 1rem;
}

section {
  padding: 3rem 4rem;
  max-width: 120ch;
  margin: 0 auto;
}

.photogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;

  img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  
  img:hover {
    transform: scale(1.1);
  }
}

#banner-image {
  width: 100%;
}

.callout {
  background: #4a413a;
  color: #f1d3ad;
  max-width: none;

  .center {
    max-width: 120ch;
    margin: 0 auto;
  }
}

.headshot {
    float: right;
    width: 200px;
    margin: 0 2em 2em;
}

.instagram {
  justify-content: center;
}
